<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>F4_Nordic_Motorhome</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}">
</head>
<body>
    <a href="/templates/bookingsPage.html">
        <h1>Bookings</h1>
    </a>

    <a href="/templates/vehiclesPage.html">
        <h1>Vehicles</h1>
    </a>

    <a href="/templates/customersPage.html">
        <h1>Customers</h1>
    </a>

    <a href="/templates/makeABooking.html">
        <h1>Make a Booking</h1>
    </a>




</body>
</html>