<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <title>F4_Nordic_Motorhome</title>

</head>
<body>
  <!-- creat bottem for make a booking -->
  <div class="bottem">
    <div class="bottem-content">
      <div class="bottem-content-left">
        <p>
          <h2>Make a booking</h2>
          <h3>Please fill in the following information</h3>
      </div>
        <h2 th:text="${vehicle.getBrand()}"></h2>
<!--      <div class="bottem-content-right">-->
<!--                <label for="registrationPlate">customer ID:</label>-->
<!--                <input type="text" name="name" id="customer ID" placeholder="Id" required>-->
<!--                        <label for="registrationPlate">Registration Plate:</label>-->
<!--                        <input type="text" name="name" id="customer name" placeholder="Plate" required>-->

<!--          <a style="background-color: #0088cc; display: inline; border-radius: 4px; color: #fff; font-size: 18px; font-weight: 500; padding: 12px 44px; text-decoration: none;" target="_blank" href="https://exampell.mypaysimple.com/booknow">Book Now</a>-->

<!--  </div>-->
  </div>
  </div>


</body>


<footer>
    <script>
        function myFunction() {
            document.getElementById("demo").style.color = "red";
        }
    </script>
</footer>
</html>